body {
    background-color: black;
}

.bg-red {
    background-color: gray;
}

.center {
    display: flex;
    justify-content: center;
}

.buttons {
    padding: 10px;
    margin: 2px;
    border: 2px solid black;
    border-radius: 20px;
    width: 80px;
    height: 80px;
    cursor: pointer;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    padding: 5px 10px;
    border: 2px solid gray;
    font-size: 20px;
    text-align: right;
}

.buttons:hover {
    opacity: 0.9;
} 

.row {
    display: flex;
    flex-grow: 1;
}